@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

input {
  margin: 10px;
}

.main {
  margin: 25px;
}

.calc {
  margin: 25px;
}

#btn,
#btn1,
#btn2,
#btn3 {
  padding: 5px 10px;
}

#result,
#result1,
#result2,
#result3 {
  border: 1px solid forestgreen;
  width: 6.5%;
  text-align: center;
  margin: 25px 0;
}
